.about {
    background-color: #212529;
    margin: 2rem 0;
    .about_h2 {
        text-align: center;
        color: white;
        padding: 1rem;
    }
    .aboutContent {
        display: flex;
        flex-direction: column;
        width: 100%;
        & img{ 
            width: 80%;
            margin: 0 auto;
            border-radius: 10px;
        }
        & p {
            text-align: center;
            color: white;
            padding: 1rem;
        }
    }
    
}

@media only screen and (min-width: 769px) {
    .about {
        .aboutContent {
            display: flex;
            flex-direction: row;
            width: 100%;
            & img{ 
                width: 30%;
                border-radius: 10px;
                margin: 2rem;
            }
            & p {
                align-self: center;
            }
        }
        
    }
}
@media only screen and (min-width: 1024px) {
    .about {
        padding: 3rem 0;
        .aboutContent {
            & img{ 
                margin-left: 10%;
            }
            & p {
                font-size: 2rem;
                margin-right: 10%;
            }
        }
        
    }
}